@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-baskerville: var(--font-baskerville);
  --font-poppins: var(--font-poppins);
}

html {
  overflow-x: hidden;
}

body {
  font-family: var(--font-poppins);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-baskerville);
}
